<div class="footer-nav">
  <%= link_to t('sign_up_as_leader'), new_user_registration_path(role: 'leader') %> |
  <%= link_to t("contact_us"), '#' %> |
  <%= link_to t("about_us"), '#' %>
  <%== t("powered_by") %>
</div>
