<% content_for :title do %>
<h1><%= t 'crud.new', model: Venue.model_name.human %></h1>
<div class="toolbar">
  <%= link_to t('crud.back'), admin_activity_path(@activity), class: 'btn' %>
</div>
<% end %>

<%= render 'form' %>
