<% content_for :title do %>
<h1><%= t 'crud.listing', model: Contact.model_name.human %></h1>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.title %></td>
      <td class="control span4">
        <%= link_to t('crud.edit'), edit_admin_contact_path(contact) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
