<div id="home-content">
  <div class="row-fluid">
    <div class="help">    
      <center><h1><%= t("user_agreement")%></h1></center>
          <%=raw(@user_agreement.content)%>
    </div>
  </div>
</div>



